@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Solid:wght@100;300;400;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  font-family: Poppins;
  background-color: #070f2b;
  color: wheat;
  font-size: 15px;
  min-height: 100vh;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 49px,
      rgba(240, 248, 255, 0.04) 49px 50px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 49px,
      rgba(240, 248, 255, 0.04) 49px 50px
    );
  &::before {
    content: "";
    height: 600px;
    width: 400px;
    position: fixed;
    background-image: linear-gradient(to right, #c70039, #40128b);
    z-index: -1;
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px);
  }
}
.skills {
  padding-top: 50px;
  & .title {
    text-align: center;
    font-size: 3em;
    font-family: Londrina Solid;
  }
  & .des {
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
  }
  & .list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-evenly;
    gap: 3vw;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 70%;
      height: 70%;
      background-image: linear-gradient(-45deg, #c70039, #40128b);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 20px;
      background-size: 200% auto;
    }
    & .item {
      backdrop-filter: blur(50px);
      padding: 20px;
      border-radius: 20px;
      background-color: rgba(21, 15, 59, 0.5);
      & h3 {
        margin: 10px 0;
      }
      & svg {
        box-sizing: content-box;
        font-size: 30px;
        background-color: #eee2;
        padding: 10px;
        border-radius: 10px;
      }
      & .des {
        text-align: left;
        width: 100%;
        font-size: small;
      }
    }
  }
}
.projects {
  & .title {
    padding-top: 50px;
    font-size: 3em;
    text-align: center;
    font-family: Londrina Solid;
    margin-top: 100px;
  }
  & .des {
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
  }
  & .list {
    margin-top: 50px;
    & .item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      margin: 20px 20px;
      gap: 40px;
      & .images {
        width: 100%;
        background-image: linear-gradient(-45deg, #610c9f, #da0c81);
        padding: 40px;
        border-radius: 20px;
        text-align: center;
        overflow: hidden;
        & .img {
          border-radius: 10px;
          box-shadow: 0 20px 40px rgb(2, 2, 29);
        }
      }
      & .content {
        & h3 {
          font-weight: 700;
          font-size: 2em;
          margin: 0;
        }
        & .des {
          text-align: left;
          width: 100%;
          margin: 0;
          max-width: max-content;
        }
        & .languagesUsed {
          margin-top: 10px;
        }
      }
      &:nth-child(2n) {
        & .images {
          grid-column-start: 2;
          grid-row-start: 1;
        }
        & .content {
          grid-column-start: 1;
          grid-row-start: 1;
        }
      }
    }
  }
}

main {
  width: min(100%, 1300px);
  margin: auto;
}
header {
  position: -webkit-sticky;
  position: sticky;
  font-family: "Londrina Outline";
  font-weight: 900;
  font-size: 20px;
  color: black;
  top: 0px;
  width: min(100%, 1300px);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  /* box-sizing: border-box; */
  z-index: 100;

  backdrop-filter: blur(10px);
  & nav {
    display: flex;
    gap: 5vw;
    & span {
      cursor: pointer;
      &.active {
        color: rgb(232, 223, 240);
        text-shadow: 0 0 5px rgb(93, 42, 141);
      }
    }
  }
}
.contacts {
  padding-bottom: 100px;
  padding-top: 50px;

  & .title {
    font-family: "Londrina Solid";
    font-size: 3em;
    text-align: center;
  }
  & .des {
    color: #eee5;
    text-align: center;
    max-width: 500px;
    margin: auto;
  }
  & .list {
    text-align: center;
    & .item {
      margin-top: 50px;
      & h3 {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 20px;
      }
      & a {
        color: #eee9;
        text-decoration: underline;
      }
    }
  }
}
.name {
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #030637,
    #3c0753,
    #720455,
    #910a67,
    #910a67,
    #720455,
    #3c0753,
    #030637
  );
  font-family: "Roboto Mono";
  font-weight: 900;
  font-style: italic;
  animation: gradientAnimation 2s linear infinite;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes gradientAnimation {
  to {
    background-position: 200% center;
  }
}

.animation {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;
  &.active {
    transform: translateY(0px);
    filter: blur(0);
    opacity: 1;
  }
}
